@model Alone_Revisal.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
   Welcome, sir!

    <ul>
        <li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a id="loginLink" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
</div>







